{{ ansible_managed | comment }}

[Unit]
Description = Prometheus php-fpm exporter
After = {{ php_fpm_exporter_after_services | join(' ') }}

[Service]
Type = simple
EnvironmentFile = {{ systemd_default_directory }}/{{ php_fpm_exporter_binary }}
User = {{ php_fpm_exporter_system_user }}
Group = {{ php_fpm_exporter_system_group }}
ExecReload = /bin/kill -HUP $MAINPID
ExecStart = {{ php_fpm_exporter_install_dir }}/{{ php_fpm_exporter_binary }} server $ADDITIONAL_ARGS
SyslogIdentifier = php_fpm_exporter
Restart = always

[Install]
WantedBy = multi-user.target
